<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1С:Гид</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
</head>
<body class="bg-light">
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">
            <a href="{% url 'index' %}" class="logo me-auto"><img src="{% static 'img/logo.svg' %}" alt="Логотип"></a>
            <nav class="navbar navbar-expend-lg">
                <ul>
                    <li><a href="{% url 'training' %}">Конфигурации</a></li>
                    <li><a href="{% url 'materials' %}">Материалы</a></li>
                    <li><a href="{% url 'faq' %}">Ответы на вопросы</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>


    <main>
        <section class="about-us">
            <div class="container main">
                <h1 >Добро пожаловать на 1С:Гид!</h1>
                <div class="text">
                    <p class="main-p">
                        1С:Гид предоставляет ресурсы и материалы для начинающих 1С-разработчиков, помогая им освоить платформу
                        1С:Предприятие. Наш сайт предлагает обширные ресурсы для обучения, ответы на часто задаваемые вопросы и полезные
                        материалы.
                    </p>
                    <div class="marquee">
                        <ul class="marquee-content">
                            <li>1C</li>
                            <li>1C</li>
                            <li>1C</li>
                            <li>1C</li>
                            <li>1C</li>
                            <li>1C</li>
                            <li>1C</li>
                            <li>1C</li>
                        </ul>
                    </div>
            
                <div class="text text-end">
                    <h2 class="materials clr-red">Материалы</h2>
                    <p class="main-p materials-p">
                        В разделе "Материалы" вы найдете полезные статьи, руководства и туториалы по различным аспектам 1С-разработки.
                        Эти материалы предназначены для того, чтобы помочь вам понять основы и продвинутые темы на платформе 1С.
                    </p>
                    <div class=>
                        <img class="img-fluid rounded" loading="lazy" src="{% static 'img/materials.png' %}" alt="Материалы">
                    </div>
                </div>
                
                <div class="text">
                    <h2 class="training clr-red">Конфигурации</h2>
                    <p class="main-p">
                        Данный раздел посвящен созданию конфигураций в системе "1С:Предприятие 8.3". Здесь я поделюсь подробным описанием своего опыта во время выполнения работ.
                    </p>
                    <div class=>
                        <img class="img-fluid rounded" loading="lazy" src="{% static 'img/education.png' %}" alt="Обучение">
                    </div>
                </div>
            

                <div class="text text-end">
                    <h2 class="questions clr-red">Ответы на вопросы</h2>
                    <p class="main-p materials-p text-end">
                        В разделе "Ответы на вопросы" вы найдете ответы на типичные вопросы, с которыми сталкиваются начинающие
                        1С-разработчики. Если у вас есть конкретные вопросы, здесь вы, возможно, найдете ответы и решения.
                    </p>
                    <div class=>
                        <img class="img-fluid rounded" loading="lazy" src="{% static 'img/faq.png' %}" alt="Ответы на вопросы">
                    </div>
                </div>
            

            </div>
        </section>

    </main>
    
    <div class="container">
        <footer>
            <div class="d-flex flex-column flex-sm-row justify-content-between border-top pt-4 mt-4 mb-2">
                <div class="col-lg-3 col-md-6 footer-contact">
                    <p>
                        &copy; <strong>«1С:Гид»</strong>. Все права защищены.
                    </p>
                    <p>
                        г. Владимир, ул. Университетская, д. 4 <br>
                        <strong>Телефон:</strong> <a href="tel:+79917462389">+7 991-746-23-89</a><br>
                        <strong>Почта:</strong> <a href="mailto:1cgid@yandex.ru">1cgid@yandex.ru</a><br>
                    </p>
                </div>
            
                <ul class="social__links align-items-center d-flex justify-content-between">
                    <li class="social__item ms-3">
                        <a class="social__contacts bi" href="#" title="телеграм">
                            <img class="social__img" src="{% static 'img/telegram.svg' %}" title="#" alt="телеграм">
                        </a>
                    </li>
                    <li class="social__item">
                        <a class=" social__contacts ms-3" href="#" title="вконтакте">
                            <img class="social__img bi" src="{% static 'img/vk.svg' %}" title="#" alt="вконтакте">
                        </a>
                    </li>
                    <li class="social__item">
                        <a class=" social__contacts ms-3" href="#" title="ютуб">
                            <img class="social__img bi" src="{% static 'img/youtube.svg' %}" title="#" alt="ютуб">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>